// ================================================
// Mixins
// ================================================

@mixin flex {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@each $theme, $color in $themes {
    .theme-#{$theme} {
        color: $color;
    }
}



