// ================================================
// Variables  --
// ================================================

// colors

$white: #fff;

$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$button-color-light: lighten($color-secondary, 20%);

// Media Query Breakpoint

$brk-wide: 768px;
